EMSVR_Unity/Temp/
EMSVR_Unity/Library/metadata/df/df59d3000506f41b3b24f4aeca7bbdf6
EMSVR_Unity/Library/metadata/37/371a6ac812f05b048bf6d208f768fc2d.info
EMSVR_Unity/Library/
EMSVR_Unity/Assembly-CSharp-Editor.csproj
EMSVR_Unity/Assembly-CSharp.csproj
EMSVR_Unity/Assets/OVR/Meshes.meta
EMSVR_Unity/Assets/OVR/Meshes/Cone.obj.meta
EMSVR_Unity/Assets/OVRPlugin.dll.meta
EMSVR_Unity/Assets/Plugins/x86.meta
EMSVR_Unity/Assets/Plugins/x86/OVRGamepad.dll.meta
EMSVR_Unity/Assets/Plugins/x86_64.meta
EMSVR_Unity/Assets/Plugins/x86_64/OVRGamepad.dll.meta
EMSVR_Unity/ProjectSettings/ProjectSettings.asset
EMSVR_Unity/ProjectSettings/ProjectVersion.txt
